:root {
    --main-fs: 1.6rem;
    --average-fs: 1.1rem;

    --body-color: #edf2fb;

    --initial-color: #ffffff;
    --dark-color: #1e1e1e;
    --accent-color: #70c72a;

    --subscribe-bg-color: #07beb8;
    --advantages-bg-color: #68d8d6;

    --main-fw: 700;
    --average-fw: 400:
    
}

/* basic style */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

ul, li{
    text-decoration: none;
    list-style-type: none;
}

/* general styles */

body{
    background: var(--body-color) ;
}

.grid-container{
    max-width: 600px;
    display: grid;
    margin-inline: auto;
    margin-top: 40px;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-areas:
    "header header header header"
    "main main sidebar sidebar" ;
} 

.basic-middle-text{
    font-size: var(--average-fs);
    font-weight: var(--average-fw);
    color: var(--initial-color);
}

/* community component */

.community-component{
   grid-area: header;
   background: var(--initial-color);
   padding: 1.5rem;
}

.head-title{
    font-size: var(--main-fs);
    font-weight: var(--main-fw);
    color: var(--subscribe-bg-color);
    margin-bottom: 20px;
}

.quarantee-text{
    color: var(--accent-color);
}

.subscribe-component{
    grid-area: main;
    background: var(--subscribe-bg-color);
    padding: 1.5rem;;
}

.advantages-component{
    grid-area: sidebar;
    background: var(--advantages-bg-color);
    padding: 1.5rem;;
}



